@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "coffee";
  default: true;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #1a120b;
  --color-base-200: #24160d;
  --color-base-300: #2f1c12;
  --color-base-content: #f5e6ca;

  --color-primary: #8b5e3c;
  --color-primary-content: #fff8f0;

  --color-secondary: #d4a373;
  --color-secondary-content: #1a120b;

  --color-accent: #6f4e37;
  --color-accent-content: #fff8f0;

  --color-neutral: #2b1d14;
  --color-neutral-content: #f5e6ca;

  --color-info: #8ecae6;
  --color-success: #90be6d;
  --color-warning: #f4a261;
  --color-error: #e76f51;

  --radius-selector: 1rem;
  --radius-field: 0.75rem;
  --radius-box: 1rem;
}